@font-face {
  font-family: "Font Name";
  src: url("../fonts/FontName.eot");
  src: url("../fonts/FontName.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FontName.woff2") format("woff2"),
    url("../fonts/FontName.woff") format("woff"),
    url("../fonts/FontName.ttf") format("truetype"),
    url("../fonts/FontName.svg#FontName") format("svg");
  font-weight: 900;
  font-style: normal;
}