// Responsive breakpoints -----------------------

$mobile: 580px;
$tablet: 768px;
$desktop: 960px;
$widescreen: 1400px;

// Typography --------------------------------

$font-main: "Font Name", sans-serif;
$font-second: "Font Name 2", sans-serif;

// Colors -------------------------------------

$color-black: #000000;
$color-white: #ffffff;
